*{
    padding: 0;
    margin: 0;
    text-align: center;

}
h1{
    background-color:darkblue ;
    color:beige;
    height: 10rem;
    line-height: 8rem;
    justify-content: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}
.choice:hover{
    opacity: 0.5;
    background-color: #081b31;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.scoreboard{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 3rems;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3rem;
    gap:1rem;
}
#userscore,#compscore{
    font-size: 5rem;
}
.msgcontainer{
    margin-top: 5rem;
}
#msg{
    margin-top: 5 rem;
    color: aliceblue;
    background-color: black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}